<style>

.component_1{
    left: 40vw;
    top: 40vh;
    width: 10vw;
    color: gold;
    padding: 10px;
    text-align: center;
    border-radius: 7vw;
    align-items: center;
    position : absolute;
    background: rgb(15, 15, 15);
}

</style>
<div id = "component_1" class="component_1">
    Conditional Component 1
</div>