<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<script src = "/socket.io/socket.io.js" ></script>

<style>

.body, html{

    background-color: rgb(36, 36, 36);
}

.get_table_data{
    left: 20vw;
    top : 30vh;
    height: 3vh;
    width: 7vw;
    color: gold;
    font-size: 0.75vw;
    position: absolute;
    border-radius: 25px;
    border: 3px solid red;
    background-color: rgb(36, 36, 36);
}

.container_1{
    position: absolute;
    left: 20vw;
    top : 20vh;
}

.test_table{
    border-radius   : 7px;
    background      : gray;
    color           : black;
    border          : 3px solid gold;
}

.test_table td{
    margin: 0.5vh;
    width: 10vw;
}

</style>

<script src="js/stark_framework.js"></script>


<body>

    <div id = "container_1" class="container_1"></div>

    <button id = "get_table_data" class="get_table_data" onclick="get_table_data()">Get Table Data</button>

</body>

<script>

// This may go away, still testing how to link functions (default versus custom) : 
var my_function_maps =
[
    {
        "name"  : "new_stark_fx_1",
        "fx"    : function fx_1(){
                    new_stark_function_1()
                },
        "helper_desc" : "for table mid screen"

    },
    {
        "name"  : "new_stark_fx_2",
        "fx"    : function fx_2(){
                    new_stark_function_2()
            },
        "helper_desc" : "for table mid screen"
        
    }
]

function get_table_data(){
    socket.emit("get_table_data_1");
};

socket.on("table_1_test", function(package_data){
    alert("Got table_1_test = " + JSON.stringify(package_data))
    create_stark_table(package_data)
});

socket.on("update_value_test", function(package_data){
    create_stark_table(package_data)
});

// Custom Update Data Event : 
socket.on("got_update_1", function(package_data){
    update_stark_value(package_data);       // General (default) data event
    custom_company_function(package_data);  // 
});

function custom_company_function(package_data){
    alert("Custom Data Event , " + JSON.stringify(package_data))
};

function new_stark_function_1(){
    alert("Test function 1")
};

function new_stark_function_2(){
    alert("Test function 2")
};


</script>

    <%- include('./partials/component_0.ejs') %>

    <!-- Try not to use for loops here and instead call those via socket IO / websocket events -->
    <% if ( render_component_1 == 1 ){ %>
        <%- include('home_page_logged_out_components/component_1.ejs') %>
    <% } %>

    <% if ( render_component_2 == 1 ){ %>
        <%- include('./partials/component_2.ejs') %>
    <% } %>



</html>