<style>

.component_0{
    left: 20vw;
    top: 40vh;
    width: 10vw;
    color: gold;
    padding: 10px;
    text-align: center;
    border-radius: 7vw;
    align-items: center;
    position : absolute;
    background: rgb(15, 15, 15);
}

</style>

<div class="component_0">
    Component 0
</div>